<a name="info"></a>
<section class="alpha_14">
    <div class="container group">

        <div class="column_6 centered">
            <h3 class="center">La conferenza</h3>

            <p>
                <a href="http://www.docker.com" target="_blank">Docker</a> è un sistema software che permette di
                automatizzare il deploy di applicazioni all'interno di container che condividono gran parte delle
                risorse della macchina host Linux, rendendola una soluzione molto più leggera della consueta virtualizzazione.
            </p>

            <p>
                La conferenza sarà divisa in due momenti:
                <ul>
                    <li><strong>14 Aprile</strong>: workshop di 7 ore, di livello medio/avanzato<!-- , tenuto da trainer Kiratech (unica azienda partner autorizzata Docker in Italia) --></li>
                    <li><strong>15 Aprile</strong>: conferenza con argomenti di livello medio/avanzato</li>
                </ul>
            </p>

            <p>La conferenza è organizzata dal <a href="http://www.grusp.org">GrUSP</a></p>

            <p>Rimani informato ed <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra
                newsletter</a></p>
        </div>


        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
