<a name="info"></a>
<section class="alpha_14">
    <div class="container group">

        <div class="column_6 centered">
            <h3 class="center">Docker Day cambia nome e diventa Container Day!</h3>

            <p>
                Docker Day cambia nome, e diventa Container Day. Il Container Day 2016 sarà focalizzato su Docker,
                mostrandone casi d'uso e best practice.
            </p>

            <p>
                Scopri la conferenza <a href="http://www.containerday.it">sul sito del Container Day</a>!
            </p>
        </div>


        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
\
